include/blusher/wayland-protocols/stable/xdg-shell.h
src/wayland-protocols/stable/xdg-shell.c

src/*.o
src/wayland-protocols/stable/*.o
src/cpp/*.o

resources/*.h
resources/*.c
resources/*.o
resources/*.a

a.out
